{% extends 'base.html' %}
{% load static %}

{% block 'head' %}
    <link rel="stylesheet" href="{% static 'clientes/css/clientes.css' %}">
{% endblock 'head' %}

{% block 'dashboard' %}

    <div class="container">
        <div class="row">
            <div onclick="exibir_form('1')" class="col-md card-dashboard">
                <p class="text-card">Adicionar clientes</p>
            </div>
            <div onclick="exibir_form('2')" class="col-md card-dashboard">
                <p class="text-card">Atualizar clientes</p>
            </div>
        </div>

        <div id="adicionar-cliente" class="adicionar-cliente">
            <form action="{% url 'clientes' %}" method="post">
                {% csrf_token %}
                <div class="row">
                    <div class="col-md">
                        <p>Nome:</p>
                        <input type="text" class="form-control" placeholder="Primeiro nome" name="nome" value="{{ nome }}">
                    </div>
                    <div class="col-md">
                        <p>Sobrenome:</p>
                        <input type="text" class="form-control" placeholder="Sobrenome" name="sobrenome" value="{{ sobrenome }}">
                    </div>
                </div>

                <br>
                <p>E-mail:</p>
                <input type="email" class="form-control" placeholder="nome@email.com" name="email" value="{{ email }}">
                <br>
                <p>CPF:</p>
                <input type="text" class="form-control" placeholder="___.___.___-__" name="cpf" value="{{ cpf }}">
                <hr style="background-color:gray;">
                <div class="add-carros">
                    <h3>Carros</h3>
                    <span class="btn-add-carros" onclick="add_carro()">+ Adicionar um carro</span>

                    <div id="form-carro">
                        {% for carro, placa, ano in carros %}
                            <br>
                            <div class="row">
                                <div class="col md">
                                    <input type="text" name="carro" class="form-control" placeholder="carro" value="{{ carro }}">
                                </div>
                                <div class="col md">
                                    <input type="text" name="placa" class="form-control" placeholder="placa" value="{{ placa }}">
                                </div>
                                <div class="col md">
                                    <input type="text" name="ano" class="form-control" placeholder="ano" value="{{ ano }}">
                                </div>
                            </div>
                        {% endfor %}
                    </div>

                </div>

                <br>
                <input type="submit" value="Cadastrar" class="btn-principal">

            </form>
        </div>

        <div id="att_cliente">
            <p></p>
            <select id="cliente-select" onchange="dados_cliente()" class="form-control">
                {% for cliente in clientes %}
                    <option value="{{ cliente.id }}">{{ cliente.nome }}</option>
                {% endfor %}
            </select>

            <br>
            <hr>

            <div id="form-att-cliente">        
                <p>Nome:</p>
                <input type="text" id="nome" class="form-control">
                <p>Sobrenome:</p>
                <input type="text" id="sobrenome" class="form-control">
                <p>E-mail:</p>
                <input type="text" id="email" class="form-control">
                <p>CPF:</p>
                <input type="text" id="cpf" class="form-control">
            </div>

        </div>

    </div>

    <script src="{% static 'clientes/js/clientes.js' %}"></script>

{% endblock 'dashboard' %}